# ---
# title:  clang format config file
# author: emil lenz
# email:  emillenz@protonmail.com
# date:   2024-05-15
# notes:
# - put this file into project root
# - this is optimized for Tab-width 8 indentation and readability.
# - Tabs: IndentWidth must match TabWidth to work consistently
# ---

BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 8
TabWidth: 8

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false

# BreakBeforeBraces: Attach
# AlwaysBreakAfterDefinitionReturnType: None
# BreakConstructorInitializers: AfterColon
# ContinuationIndentWidth: 8
# SpaceBeforeParens: ControlStatements
# DerivePointerAlignment: false
# PointerAlignment: Left
