# ---
# title: clang format config file
# author: emil lenz
# email: emillenz@protonmail.com
# date: [2024-05-15]
# ---

BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
