# ---
# title:  clang format config file
# author: emil lenz
# email:  emillenz@protonmail.com
# date:   2024-05-15
# notes:
# - this is adheres to linux kernel standards, 8-wide tab indentation, optimized for readability.
# - braces on newlines for functions in c-style languages make sense, since library functions can have abysmally long types.
# ---

BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8 # for the editor
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
