set keyseq-timeout 1
set completion-ignore-case on
set visible-stats On
set show-all-if-ambiguous on
set enable-bracketed-paste on
set show-mode-in-prompt off

# set colored-stats On
# set mark-symlinked-directories On
# set colored-completion-prefix On
# set menu-complete-display-prefix On

set editing-mode vi

set keymap vi-command
# navigate history based on current input
"j": history-search-forward
"k": history-search-backward

set keymap vi-insert
C-l: clear-screen
