set editing-mode vi
set keymap vi-command
set keyseq-timeout 1
set completion-ignore-case on
set show-all-if-ambiguous on
set enable-bracketed-paste on

# navigate history candidates based on present input
$if mode=vi
	set keymap vi-command
	z: clear-screen
	j: history-search-forward
	k: history-search-backward
$endif
